<style>
  .glow-image {
      position: relative;
      filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6));
      animation: glow 3s infinite ease-in-out;
  }

  @keyframes glow {
      0% {
          filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6));
      }
      50% {
          filter: drop-shadow(0 0 30px rgba(255, 255, 255, 1));
      }
      100% {
          filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6));
      }
  }
</style>

h1 {
    font-size: 1rem; /* Ajuste o valor para aumentar ou diminuir o tamanho */
    color: #181717; /* Cor do texto */
}

    h2 {
        font-size: 1.3rem; /* Ajuste o valor para aumentar ou diminuir o tamanho */
    color: #181717; /* Cor do texto */
   
    }